.projects-container{
	height: 412vh;
	width: 100%;
	// background-color: pink;

	padding: 0;
	margin: 0;

	opacity: 0;

	p{
		font-family: HelvLight, sans-serif;
		color: $text;
		font-size:calc(7pt + 0.7vw);
		text-align: left;
	}

	h1{
		font-size: 50px;
	}

	a, a:link, a:visited, a:active{
		text-decoration: none;
	}

	a:hover{
			p{				
				text-decoration: none;
			}

		text-decoration: none;
	}

	.proj-name{
		font-size: 12vmin;
		font-weight: 700;
	}	

		.projects-handle-container{
			height: 12vh;

				.projects-handle{
					font-size: 10vmax;
					top: -4.5%;
				}
		}

		
		.project{
			height: 100vh;
			width: 100%;
			padding: 0;
			margin: 0;

				a{
					@include transition(all 0.3s ease-in-out);
					font-weight: 600;
				}
				
				a:hover{
					text-shadow: 0px 0px 12px #878787;
					@include transition(all 0.3s ease-in-out);
				}
		}

		.project-1{
			@extend .project;

				a{
					color: #43544b !important;
				}
		}
		
		.project-2{
			@extend .project;

				a{
					color: $text !important;
				}					
		}

		.project-3{
			@extend .project;

				a{
					color: #17141f !important;					
				}		
		}

		.project-4{
			@extend .project;	

				a{
					color: $text !important;
				}							
		}

		.last-proj-fixed{
			position: fixed;
			// width: 100vw !important;
			left: 0;
			top: 0;
			// margin-left: -50vw;
			// margin-top: -50vh;
			padding: 0;

				.carousel-cell{
					margin: 0 !important;
					padding: 0 !important;
				}
		}
}

.carousel{
	height: 100vh;
	height: calc(100vh - 34px);
}

.carousel-cell{
	// border: black 5px solid;
	width: 100%;
	height: 100%;
	height: calc(100vh - 34px);

		figure{
			// position: relative;
			// height: 100%;
			width: 100%;

			img{
				margin: 20px;
				width: 900px;
				max-width: 90%;
				box-shadow: 10px 10px 15px #333333;
			}

			figcaption{
				margin: 20px;
				position: relative;
				width: 60vmax;
				max-width: 90%;
				// left: 25%;

				// bottom: 40px;
			}
		}

		.tech-container, .learned-container{
			// background-color: red;

			width: 50vmax;
			max-width: 100vw;

			margin-top: 15vh;

			// margin: 20px;
			// height: 70vmin;
			// max-height: 100%;
			// min-height: 50%;
		}	
}

#desc, #pic{
	width: 70vmax;
	max-width: 100vw;
	margin: 0 !important;
	padding: 0 !important;
}

#tech, #learned{
	width: 60vmax;
	max-width: 100vw;
	margin: 0 !important;
	padding: 0 !important;
}

#desc, #pic{
	display: flex;
	align-items: center;
	justify-content: center;
}

.draggr-logo{
	width: 50%;
	min-width: 200px;
}

.tech-list{
	width: 100%;
	display: inline-block;

		.tech-logo-overlay{
			background-color: $bg;
			position: relative;

			width: 8vmax;
			height: 8vmax;
	
			max-width: 157px;
			max-height: 157px;

			// min-width: 70px;
			// min-height: 70px;


			margin: 20px;
			display: inline-block;
			border-radius: 50%;
			box-shadow: inset 1px 4px 9px -6px;

			overflow: hidden;
			// opacity: 1 !important;

				p{
					@include transition(all 0.3s ease-in-out);
					opacity: 0;
					position: absolute;
					text-align: center;
					z-index: 30;
					font-weight: 600;

					top: 50%;
					left: 50%; 
					transform: translate(-50%, -50%);
					font-size:calc(7pt + 0.5vw);
				}
		}

		.tech-logo{
			@include transition(all 0.3s ease-in-out);
			position: relative;
			z-index: 2;
			justify-content: center;
			width: 100%;
			
		}

		.tech-logo-overlay:hover{
			
			
				p{
					@include transition(all 0.3s ease-in-out);
					opacity: 1;
				}

				.tech-logo{
					@include transition(all 0.3s ease-in-out);
					opacity: 0.1;
				}
		}
}

.work-in-progress{
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;

	.wip-icon{
		height: 35vh;
		max-height: 200px;
	}

	h1{
		font-size: 40px;
	}
}



